@import 'tailwindcss';

@tailwind utilities;
@tailwind components;
@tailwind base;

@theme{
  --font-poppins: "Poppins", sans-serif;
  --color-honeyPot: #988268;
  --color-honeyGold: #FFF19C;
  --color-poohShirt: #FF6D6D;
  --color-darkgray: #3C4045;
  --color-babyblue: #CFE6F6;
  --color-gray: #A7A7A7;
}
